.videoWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.videobg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}
